@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define primary colors */
$white: hsl(0, 0%, 100%);
$light_gray: hsl(212, 45%, 89%);
$grayish_blue: hsl(220, 15%, 55%);
$dark_blue: hsl(218, 44%, 22%);
$para_font_size: 15px;
$font_family_outfit: "Outfit", sans-serif;
